*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 



.Login_container{
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    border: solid black;
   
    
}




.Login_form{
    display: flex;
    flex-direction:column;
    margin-top: 50px;
    margin-left: 100px;
    padding: 50px 50px;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 300px;
    border: solid black;

}

